<html>
    <head>
        <title>Yosan's blog</title>
    </head>
<body>
    <div>
       <h1><a href="https://twitter.com/home">Twitterアカウントへ</a></h1>
    </div>

    <div>
       <p>編集担当: いきくさ</p>
       <p>編集日時: 2020.06.19</p>
       <h2><a href="">My First Post</a></h2>
    <p>アニョハセヨ！ こんにちは！よろしくお願いします</p>
    </div>

    <div>
       <p>公開日: 2020.06.19, 12:00</p>
       <h2><a href="">2番目の投稿</a></h2>
       <p>こんにちは！よろしくおねがいします</p>
    </div>
    
    <div>
    <p>Hi there!</p>
    <p>It works!</p>
    </div>
</body>
</html>